*{
    margin : 
    0;
    padding: 0;
}

body{
    background-color: lightgreen;
}

h1{
    text-align: center;
}

input{
    width: 370px;
    height: 25px;
}

form{
    background-color: antiquewhite;
    line-height: 2;
    text-align: left;
    width: min-content;
    height: min-content;
    border-radius: 10px;
    margin: 50px 470px 0px 470px;
}

.box{
    padding: 5px 20px;
}

.Name{
    display: inline-grid;
}

span{
    color: red;
}

#Firstname_Error{
    display: none;
}

#Firstname_Length_Error{
    display: none;
}

#Email_Error{
    display: none;
}

.Flag{
    display: flex;
    justify-content: center;
}

#Ind_Img{
    height: 100px;
    width: 165px;
    display: none;
}

#Pak_Img{
    height: 100px;
    width: 165px;
    display: none;
}

#Aus_Img{
    height: 100px;
    width: 165px;
    display: none;
}

#Japan_Img{
    height: 100px;
    width: 165px;
    display: none;
}

#Country{
    position: relative;
    left: 23%;
}

#Password{
    width: 76%;
    display: inline-block;
}

.Password label{
    display: block;
}

#Show_Button{
    display: inline-block;
    width: 20%;
}

#Submit{
    background-color: burlywood;
    border-radius: 10px;
}